*.py[cod]
*~
__pycache__/
db.sqlite3
static/*
update_clients/*
.DS_Store
*/migrations/*
!apps/cotizaciones/migrations/__init__.py
!apps/data/migrations/__init__.py
!apps/reparaciones/migrations/__init__.py
