{% extends "admin/change_list.html" %}
{% load staticfiles %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <script>
        var randomColorGenerator = function () {
            return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
        };

        var cantItems = function(valores){
            
            var current = null;
            var cnt = 0;
            var tmp = {};

            for (var i = 0; i < valores.length; i++) {
                if (valores[i] != current) {
                    if (cnt > 0) {
                        tmp[current] = cnt;
                    }
                    current = valores[i];
                    cnt = 1;
                } else {
                    cnt++;
                }
            }
            if (cnt > 0) {
                tmp[current] = cnt;
            }

            return tmp;
        };

        var options = {
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                position: 'left'
            },
            title: {
                display: true
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        };

        window.onload = function () {

            document.getElementById("content").firstElementChild.style.display = "none";

            var ctx = document.getElementById("comerciales-chart");
            var comerciales = [];
            var slas = [];
            var mantAct = [];
            //var clientes = [];
            var tmp = [];

            {% for object in cl.result_list %} 
                comerciales.push('{{ object.comercial }}');
                
                tmp = '{{ object.get_sla }}'.split(", ");
                tmp.forEach(function(element){
                    slas.push(element);
                });
                tmp = [];
                mantAct.push('{{ object.mantenim_activo }}');
            {% endfor %}
            //orden alfabetico
            comerciales.sort();
            slas.sort();
            mantAct.sort();
            
            var dicComerc = cantItems(comerciales);

            var colors = []
            Object.keys(dicComerc).forEach(function(element){
                colors.push(randomColorGenerator());
            });

            //color and graph for monedas
            var lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: Object.keys(dicComerc),
                    datasets: [{
                        data: Object.values(dicComerc),
                        backgroundColor: colors
                    }]
                },
                options: options
            });

            ctx = document.getElementById("sla-chart");
            //Graph for facturados
            var dicSLA = cantItems(slas);
            colors = []
            Object.keys(dicSLA).forEach(function(element){
                colors.push(randomColorGenerator());
            });

            var lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: Object.keys(dicSLA),
                    datasets: [{
                        data: Object.values(dicSLA),
                        backgroundColor: colors
                    }]
                },
                options: options
            });

            ctx = document.getElementById("mant-chart");
            //Graph for facturados
            var dicMantAct = cantItems(mantAct);
            colors = []
            Object.keys(dicMantAct).forEach(function(element){
                colors.push(randomColorGenerator());
            });

            var lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: Object.keys(dicMantAct),
                    datasets: [{
                        data: Object.values(dicMantAct),
                        backgroundColor: colors
                    }]
                },
                options: options
            });
        };
    </script>
{% endblock %}
{% block content %}
    <div class="row">

        <div class="col-sm-4 text-center">
            <h4 style="margin-bottom: 0px;">Comerciales</h4>
            <canvas id="comerciales-chart" style="width: 100px !important;"></canvas>
            <h4>&nbsp;</h4>
        </div>
        <div class="col-sm-4 text-center">
            <h4 style="margin-bottom: 0px;">SLA</h4>
            <canvas id="sla-chart" style="width: 100px !important;"></canvas>
            <h4>&nbsp;</h4>
        </div>
        
        <div class="col-sm-4 text-center">
            <h4 style="margin-bottom: 0px;">SLA Activos</h4>
            <canvas id="mant-chart" style="width: 100px !important;"></canvas>
            <h4>&nbsp;</h4>
        </div>
    </div>
    {{ block.super }}
{% endblock %}